@model List<Tutor_hire_system.Models.Student>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Students";
}

<div class="container mt-5">
    <h2>Students</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student Number</th>
                <th>Campus</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.FullName</td>
                    <td>@student.StudentNumber</td>
                    <td>@student.Campus</td>
                    <td>@student.Age</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
